*{
    margin: 0;
}

body{
    background-color: #1A1820;
}

.center {
    margin: auto;
    width: 50%;
  }

/* Header Cells */
.header{
    font-size: 64px;
    color: #FFFAE7;
    width: 768px;
    height: 100px;
    grid-area: header; 
    display: flex;
    justify-content: center;
}

#input{
    width:640px;
    background: #FFFAE7;
    grid-area: input;
    padding: 3px;
    border-radius: 10px;
}

.submit{
    width: 128px;
    height: 51.2px;
    font-size: 28px;
    color: #FFFAE7;
    background: #8C614F;
    grid-area: submit;
    border-radius: 10px;
}
.image{
    width: 512px;
    height: 512px;
    background: #52392F;
    grid-area: image;}

.instruct{
    width: 256px;
    height: 512px;
    background: #FFFAE7;
    grid-area: instruct;}


.grid-top{
    display: grid;
    grid-template-areas: 
    'header header header' 
    'input input submit';
}

.grid-item{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

